<dialog id="dialog" keyboard-key="Escape" keyboard-action="overlay-close:#dialog" block bgcolor="rgba(0,0,0, .9)"
  onoverlay-dialog="start:[*];focus:#search" radius="2rem" margin="0 auto" boxshadow="0px 0px 20px 1px black"
  border="1px solid dimgray" color="white" padding="2rem" height="60vh" screen-xxs="width:[100%]"
  screen-sm="width:[600px]" screen-md="width:[800px]" screen-lg="width:[900px]" overflow="hidden" alignself="center"
  hide>
  <header flex flexdirection="column">
    <input id="search" type="text" placeholder="Search for application ..." onvaluechange="filtersearch--run:#apps"
      width="100%" borderbottom="1px solid black" bgcolor="initial" color="white" autocomplete="off" autocorrect="false"
      autospellcheck="false" paddingbottom="1rem" fontsize="20px">
    <hr height="1px" bgcolor="gray" width="100%">
  </header>
  <div id="empty" hide>No applications found.</div>
  <button click="overlay-close:#dialog" bgcolor="initial" color="white" radius="50%" height="3rem" width="3rem"
    top="1rem" right="0.5rem" fontsize="30px" absolute bold aria-label="close">×</button>
  <section id="apps" height="100%" flex grid="1fr 1fr" style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr"
    data-src="assets/json/software.json" filtersearch--onempty="#empty" data-iterate="true">
    <figure filtersearch--select>
      <a data-set="name:name" href="cloud/?app={name}" flexdirection="column" align="center" fontsize="15px"><img
          data-get="icon" width="4rem" height="4rem"><span data-get="name" margin="5px auto"></span></a>
    </figure>
  </section>
</dialog>