<dialog id="dialog" keyboard-key="Escape" keyboard-action="overlay-close:#dialog" block bgcolor="rgba(0,0,0, .9)"
  onoverlay-dialog="start:[*];focus:#search" margin="0 auto" boxshadow="0px 0px 20px 1px black"
  color="white"
  screen-xxs="width:[100%];height:[100%];maxheight:[100%];radius:[0.5rem];padding:[0rem];border:[none]"
  screen-sm="width:[600px];minheight:[50vh];maxheight:[80vh];radius:[2rem];padding:[2rem];border:[1px solid dimgray]"
  screen-md="width:[800px];minheight:[50vh];maxheight:[80vh];radius:[2rem];padding:[2rem];border:[1px solid dimgray]"
  screen-lg="width:[900px];minheight:[60vh];maxheight:[80vh];radius:[2rem];padding:[2rem];border:[1px solid dimgray]"
  overflow="hidden" alignself="center" hide>
  <form id="productForm">
  <header flex flexdirection="column">
    <input id="search" type="text" placeholder="Search for products ..." filtersearch--input
      onvaluechange="filtersearch--run:#apps"
      width="100%" borderbottom="1px solid black" bgcolor="initial" color="white" autocomplete="off" autocorrect="false"
      autospellcheck="false" paddingbottom="1rem" screen-xxs="fontsize:[16px]" screen-md="fontsize:[20px]">
    <div flex gap="0.5rem" paddingtop="1rem" paddingbottom="1rem" flexwrap="wrap">
      <fieldset class="button" padding="0.4rem 0.8rem" radius="1rem" border="1px solid gray" screen-xxs="fontsize:[12px]" screen-md="fontsize:[13px]">
        <input type="checkbox" id="chk_app" filtersearch--group="Application" click="filtersearch--run:#apps" marginright=".3rem">
        <label for="chk_app">Applications</label>
      </fieldset>
      <fieldset class="button" padding="0.4rem 0.8rem" radius="1rem" border="1px solid gray" screen-xxs="fontsize:[12px]" screen-md="fontsize:[13px]">
        <input type="checkbox" id="chk_sys" filtersearch--group="System" click="filtersearch--run:#apps" marginright=".3rem">
        <label for="chk_sys">Systems</label>
      </fieldset>
      <fieldset class="button" padding="0.4rem 0.8rem" radius="1rem" border="1px solid gray" screen-xxs="fontsize:[12px]" screen-md="fontsize:[13px]">
        <input type="checkbox" id="chk_plat" filtersearch--group="Platform" click="filtersearch--run:#apps" marginright=".3rem">
        <label for="chk_plat">Platforms</label>
      </fieldset>
    </div>
    <hr height="1px" bgcolor="gray" width="100%">
  </header>
  </form>
  <div id="empty" hide>No products found. <a click="resetvalue:#productForm;filtersearch--run:#apps;hide:#empty;focus:#search" color="gold" style="cursor:pointer">Clear filter</a></div>
  <button click="overlay-close:#dialog" bgcolor="initial" color="white" radius="50%"
    screen-xxs="height:[2.5rem];width:[2.5rem];fontsize:[24px];top:[0.5rem];right:[0.3rem]"
    screen-md="height:[3rem];width:[3rem];fontsize:[30px];top:[1rem];right:[0.5rem]"
    absolute bold aria-label="close">×</button>
  <section id="apps" overflow="auto" paddingtop="1rem"
    screen-xxs="maxheight:[80vh];gridcolumns:[1fr 1fr]"
    screen-xs="maxheight:[80vh];gridcolumns:[1fr 1fr 1fr]"
    screen-sm="maxheight:[80vh];gridcolumns:[1fr 1fr 1fr 1fr]"
    screen-md="maxheight:[50vh];gridcolumns:[1fr 1fr 1fr 1fr 1fr]"
    screen-lg="maxheight:[50vh];gridcolumns:[1fr 1fr 1fr 1fr 1fr]"
    screen-xl="maxheight:[50vh];gridcolumns:[1fr 1fr 1fr 1fr 1fr 1fr]"
    grid justifycontent="center" alignitems="start"
    data-src="assets/json/software.json" filtersearch--onempty="#empty" data-iterate="true">
    <figure flex filtersearch--select justifycontent="center" margin="0" padding="1rem 0">
      <a data-set="name:name" href="cloud/?app={name}" flexdirection="column" alignitems="center"
        screen-xxs="fontsize:[12px]" screen-md="fontsize:[14px]"><img
          data-get="icon" screen-xxs="width:[3rem];height:[3rem]" screen-md="width:[4rem];height:[4rem]"><span data-get="name" margin="5px auto" align="center"></span></a>
      <span hide filtersearch--marker data-get="type"></span>
    </figure>
  </section>
</dialog>
